body {
    display: flex;
    flex-direction: column;
}

#calc {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: grey;
}

#display {
    width: 119px;
    height: 25px;
    border-style: solid;
    border-width: 8px;
    border-color: grey;
    padding: 5px;
    background-color: olivedrab;
    justify-content: flex-end;
}

#pads {
    display: flex;
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 90px;
    height: 120px;
    border-style: solid;
    border-color: red;
}

#operatorPad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 120px;
    border-style: solid;
    border-color: blue;
}