@font-face {
    font-family: dseg;
    src: url(fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Regular.ttf)
}

body {
    display: flex;
    flex-direction: column;
}

#calc {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: grey;
}

#display {
    width: 119px;
    height: 25px;
    border-style: solid;
    border-width: 8px;
    border-color: grey;
    padding: 5px;
    background-color: olivedrab;
    justify-content: flex-end;
    font-family: dseg;
}

#pads {
    display: flex;
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 90px;
    height: 120px;
}

.num {
    background-color: rgb(214, 102, 4);
}

#operatorPad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 120px;
}